  
%p 
  This gem is a jQuery datatables integration into rails. 
  %br
  The goal of this gem is to provide fast, customizable tables that could be used in a variety of situation.
  %a{:href => "https://datatables.net/", :target => "_blank"}
    jQuery datatables
%p  
  Here are the main feature supported by this gem:

%ul
  %li
    Ajax or static object loading, paging, sorting, per column an dlobal filtering
  %li
    Support for ActiveRecord and Mongoid models
  %li
    Built-in support for mass selection with checkbox
  %li
    Support for custom additional columns (non DB column), that could be used for row actions like delete, edit, view.
  %li
    Added javascript functions should be packaged in reusable functions (js file in the assets pipeline)
%p
  = link_to "Tasks list 1: Static jquery datatable exemple", static_path

%p
  = link_to "Tasks list 2: Mongo jquery datatable", mongo_path 
  
%p
  = link_to "Tasks list 3: ActiveRecord jquery datatable (duplicate mongo)", active_record_path
