
:javascript
  var oTable;
  var columns = null;
  jQuery.fn.dataTableExt.oSort['string-case-asc']  = function(x,y) {
  	return ((x < y) ? -1 : ((x > y) ?  1 : 0));
  };

  jQuery.fn.dataTableExt.oSort['string-case-desc'] = function(x,y) {
  	return ((x < y) ?  1 : ((x > y) ? -1 : 0));
  };

  $(document).ready(function() {


    // Edit record
    $('.datatable').on('click', 'a.editor_edit', function (e) {
      e.preventDefault();
      console.log(e.currentTarget.id)
      var id = e.currentTarget.id
      /* Get the row as a parent of the link that was clicked on */
      var nRow = $(this).parents('tr')[0];
      editRow( oTable, nRow, id,"mongo_update.json" );

    } );

    // Delete a record (without asking a user for confirmation)
    $('.datatable').on('click', 'a.editor_remove', function (e) {
      e.preventDefault();
      var id = e.currentTarget.id
      var nRow = $(this).parents('tr')[0];
      var obj = {}
      obj["id"] = id
      deleteRow(nRow, obj,"mongo_delete.json");

    });

  // Show a record
    $('.datatable').on('click', 'a.view', function (e) {
      e.preventDefault();
      var id = e.currentTarget.id
      var nRow = $(this).parents('tr')[0];
      showRow(nRow, id);
    });
    $('input[type="checkbox"]#chkAll').on('click', function(){
      if($(this).is(":checked")){
          $(this).parents('thead').siblings('tbody').find('input[type="checkbox"].chk_select').prop('checked', true);
      }else{

          $(this).parents('thead').siblings('tbody').find('input[type="checkbox"].chk_select').prop('checked', false);
      }
    })
    var row_selected = [];
    $('#submit_selected_row').on('click',function(e) {
      row_selected.length = 0;
      row = $('table.datatable').find('input.chk_select');
      row.each(function(){
          if($(this).is(":checked")){
              row_selected.push($(this).attr('id'))
          }
      })
      $.ajax({
        type: 'POST',
        url: 'get_selected_rows',
        dataType: "json",
        data: {'dataRow':row_selected},
        success: function (json) {
            console.log('submit to server the id with id data array:', row_selected)
            // do some thing
        }
      });
    })
    #{datatable(@column_configs,{

      :dom_config => "T<'row'<'span12'<'btn-toolbar'C> <'clear'> il>>frt<'row'<'span6'><'span6'p>>",
      :server_method => 'GET',
      :ajax_source => '$(".datatable").data("source")',
      :sort_by => [ [0,'asc'], [1,'desc'] ],
      :sRowSelect => 'multi',
      :data_type => @data_type ,
      :data_order => @data_order,
      :buttonText => I18n.t("buttonText"),
      :buttonCopy => I18n.t("copy"),
      :buttonPDF => I18n.t("pdf"),
      :buttonCSV => I18n.t("csv"),
      :buttonXLS => I18n.t("xls"),
      :buttonPrint => I18n.t("print")

    })};
    oTable.columnFilter({
        aoColumns: [null,{ type: "text" }, { type: "select", values: #{@data_type }  },
               { type: "select", values: #{@data_order}   },
               { type: "number-range"  }],
        sRangeFormat: "#{I18n.t("from")} {from} #{I18n.t("to")} {to}"
        })
    $('.data_type > .filter_column > .select_filter').combobox();
  });


%p
  Mongo tasks. Create a new controller action:
  
%ol
  %li
    Have the checkbox config working properly. If header box is clicked, all row should be selected, deselected. Create javascript helper to grab selected row and submit them for server side processing
  %li
    Implement with serverside sorting and filtering, paging. 
    %a{:href => "http://jquery-datatables-column-filter.googlecode.com/svn/trunk/index.html", :target => "_blank"}
      Column filter should be supported
  %li
    Add per column filters with datatable columnFilter plugin
  %li
    Add custom columns that cannot be filtered. Add a custom action that get a new page with object id
  %li
    Implement multicolumns ordering (view datatables features)

%div#datatable
  %button#submit_selected_row.btn
    = I18n.t("submit_selected_row")
  %table.datatable.table.table-condensed{:cellpadding => "0", :cellspacing => "0", :border => "0", 'data-source' => "#{mongo_path}"}
    %thead
      %tr
        - @datatable_cfg.get_columns.each_with_index do |field, idx|
          - if field == "chk_box"
            %th#search
              %input#chkAll{ :type => 'checkbox' }
          - else
            %th{:id => field, "data-idx" => idx}
              - texts = @datatable_cfg.get_column_texts(field)
              %a.tool{ :href => "#", "data-toggle" => "tooltip", "data-delay" => "200", "data-original-title" => "#{texts[:title]}"}
                = texts[:short_title]
    %body

      %tfoot
        %tr
          %th
          %th
          %th
            = I18n.t('all')
          %th
            = I18n.t('all')
          %th
          %th

%div.modal#action_row{style: "display: none;"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h4.modal-title

      %div.modal-body
      %div.modal-footer


