
- columns = [{:type => 'html',:sortable => false, :searchable => false,:class => "first"},{:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html', :class => "last"}]
:javascript
  $(document).ready(function() {
    #{datatable(columns, {
      :pagination_type => "bootstrap",
      :length_change => true ,
      :sort_by => "[[1, 'desc']]",
      :dom_config => "T<'row'<'span12'<'btn-toolbar'C> i>>rt<'row'<'span6'l><'span6'p>",
      :sRowSelect => 'multi'
    })}
    $('input[type="checkbox"]#chkAll').on('click', function(){
       if($(this).is(":checked")){
         $(this).parents('thead').siblings('tbody').find('input[type="checkbox"].chk_select').prop('checked', true);
       }else{
         $(this).parents('thead').siblings('tbody').find('input[type="checkbox"].chk_select').prop('checked', false);
       }
     })
  });


%p
  Static datatable tasks:
  
%ol
  %li
    Implement i18n feature for datatables strings.  
    %a{:href => "http://datatables.net/plug-ins/i18n"}
      Localized strings are here:
  %li
    Make sure buttons from TableTools have the bootstrap design
  %li
    Clean up helpers/form_helper file by calling handle_simple_param whenever it's possible, format file for proper reading
  %li
    In javascript generated, remove fnServerData if bServerSide is false.
  %li
    Add checkbox column and features to select all rows
  %li
    Make sure paging is working properly



%table.datatable.table.table-condensed
  %thead
    %tr
      %th
        %input#chkAll{:type => "checkbox"}
      %th
        col1
      %th
        col2
      %th
        col3
      %th
        col4
  %body
    - (0..200).each do |i|
      %tr
        %td
          %input.chk_select{ :type => 'checkbox' }
        %td
          = "a#{i}"
        %td
          = "b#{i}"
        %td
          = "c#{i}"
        %td
          = "d#{i}"
