<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row-fluid">
      <p>
        current language: <%= t('language') %>
        <%= link_to "change language", url_for(:locale => params[:locale] == "fr" ? "en" : "fr") %>
      </p>
      
    </div>
    
    <div class="row-fluid">
      <h1>
        datatable-rails gem
      </h1>
      <%= yield %>
    </div>
  </div>
</body>
</html>
